#headerQuestionsArea, #goldPromoBanner, #goldHolidayIcon, #imFloatingAd, .promo-ad, #goldValentinesDayIcon, #goldNavbar, #headerBanner, .skyscraper-ad, .campaign-icon, .ui-resizable-e, #fan-club-container, .skyscraper-ad-2, .skyscraper-ad-1, #profile-ad, .sponsorAd, .removeAds, .promo-center, #blackFridayDirBanner, #top_Bar, #buyTokensButton, #upgradeGoldButton, .xmlAdsTitle, .xmlAdsWrapper, #goTopButton, #tippingCulture, div.\33 1035, div[id="\33 4402"], #promptArea, #vastGoldUpgrade {
   display: none !important;
}

#subscribeButton, #addFriendBtn, #openMailBoxButton, #privateTipButton, .share-btn, #sexgames, .sexgames, #videoBannerMidrollAdWrapper {
   display: none !important;
}

.logo-wrap {
   background: #ececec none repeat scroll 0 0 !important;
   background: #ececec !important;
   background-color: #ececec !important;
   border-bottom: 2px solid #3a3a3a !important;
   padding: 6px 28px 5px 5px !important;
}

#stickyHeader .logo-wrap img {
   width: 100px !important;
   overflow: hidden !important;
}

.mm-page #content {
   padding-bottom: 0px !important;
   padding: 0 !important;
}

#goTopButton {
   opacity: 0.0 !important;
}

#header {
   width: 100% !important;
   height: 2px !important;
   overflow: hidden !important;
   border-bottom: 2px solid orange !important;
   transition: all 1.5s ease-out !important;
}

#header:hover {
   height: 109px !important;
   overflow: visible !important;
}

.mm-page {
   overflow: hidden !important;
}

#content {
   padding-left: 18px !important;
   padding-right: 18px !important;
}

.profileCamWrap {
   margin: 0 !important;
}

.player-header {
   background: #1F1F1F!important;
}

div#camPaneBig.player-style {
   width: 100% !important;
}

div#containerFirebase {
   padding-left: 1050px !important;
   height: 820px !important;
}

.page-logged-in .chatlessPlayer ~ #containerFirebase #fakechatDiv #tab1C {
   height: 720px !important;
}


div.chatlessPlayer {
   width: 1045px !important;
   height: 790px !important;
}

object#Cam4VChat.widewide {
   width: 1045px !important;
   height: 790px !important;
}

.newStreamControls {
   width: 148px !important
}

#NewShowMainBar, #tDiv, #privateShowContainer {
   display: none !important;
}

.withLeftSidebar .responsive-row #main-content.has-ads {
   margin: 0 !important;
   margin-right: 0 !important;
}

#chat_main {
   height: 100% !important;
}

#fakechatDiv.fakechat, #tab1C.container {
   height: 95% !important;
}

#right-content {
   display: none !important;
}

#newTipAreaBox #leftContentViewer {
   display: none !important;
}

#middleScreen, #rightContent {
   width: 50% !important
}

#friendFavoriteAdd {
   font-size: 11px !important;
   text-transform: uppercase !important;
   letter-spacing: .8px;
   color: #4775a1 !important;
   background-color: #fff !important;
   border: 1px solid #1f488e !important;
   border-radius: 2px !important;
   float: right !important;
   min-width: 103px !important;
}
#friendFavoriteAdd:hover {
   color: #fff !important;
   background-color: #4775a1 !important;
   border: 1px solid #1f488e !important;
}


#friendFavoriteRemove {
   font-size: 11px !important;
   text-transform: uppercase !important;
   letter-spacing: .8px;
   color: #fff !important;
   background-color: #4775a1 !important;
   border: 1px solid #1f488e !important;
   border-radius: 2px !important;
   float: right !important;
   min-height: 31px !important;
   padding: 8px 12px 6px !important;
}
#friendFavoriteRemove:hover {
   color: #fff !important;
   background-color: #4775a1 !important;
   border: 1px solid #1f488e !important;
   opacity: .6 !important;
}


#addFavoriteBtn {
   
}

.newProfileHeader {
   padding: 0 !important;
   margin: 6px 0 -7px 0 !important;
}

.headerLeftCol {
   padding: 16px 0 10px 0 !important;
}

#profileHeaderShare {
   display: block !important;
   float: right !important;
   padding: 26px 0 0 0 !important;
}

#profileHeaderShare > .ph-row {
   float: right !important;
}


.newStreamControls {
   opacity: 0 !important;
   transition: ease all .5s !important;
}

.chatlessPlayer:hover .newStreamControls {
   opacity: 0.6 !important;
   transition: ease all .5s !important;
}

.private-show {
   background-color: rgba(255, 87, 53, 0.8) !important;
   color: #fff !important;
   text-shadow: 0 1px 6px rgba(0, 0, 0, .6) !important;
}



.new-tag {
   top: -158px !important;
   left: 0 !important;
   width: 100% !important;
	position: static !important;
}






/* ========== SAFETY NET =============== */
#profileHeaderShare {
   display: none !important;
}

.safetyNet {
   display: none !important;
}

.panic {
   width: 30px;
   height: 50px;
   position: fixed;
   top: 40px;
   right: 0px;
   background: red;
   opacity: .5;
   z-index: 10000;
}

.panic:hover {
   opacity: .7;
}

.decoy {
   width: 100vw;
   height: auto;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 9000;
   background: url('http://i.imgur.com/n0bcXL9.jpg');
   background-size: contain;
   background-repeat: no-repeat;
}

.decoy img {
   width: 100%;
   height: auto;
   visibility: hidden;
}



.iphone {
   text-transform: uppercase !important;
   letter-spacing: .8px;
   color: #4775a1 !important;
   background-color: #fff !important;
   border: 1px solid #1f488e !important;
   border-radius: 2px !important;
   float: right !important;
   min-width: 40px !important;
   width: 20px;
   height: 31px;
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   cursor: pointer;
}

.iphone:hover {
   color: #fff !important;
   background-color: #4775a1 !important;
   border: 1px solid #1f488e !important;
}

.on {
	color: #fff !important;
	background-color: #4775a1 !important;
	border: 1px solid #1f488e !important;
}


.fa-mobile {
   font-size: 22px;
   line-height: 30px;
}

.mobilex {
   width: 400px !important;
}

.logo_link {
   float: left;
   position: relative;
   height: auto;
   width: auto;
}

#exploreButton {
   display: none !important;
}


#main-content > div > h2 > div > div.sortByOptions > div > a {
	color: rgba(51, 51, 51, 0.5);
	transition: all .4s;
}

#main-content > div > h2 > div > div.sortByOptions > div > a:hover {
	color: #333333;
}


#reset {
   width: 33px;
   height: 33px;
   float: left;
   text-align: center;
   border-radius: 2px;
   color: rgba(51, 51, 51, 0.5);
   border: 1px solid #c4c4cf;
   min-width: 0;
   background: #fff;
   margin: 0 5px 0 0;
   padding: 0 5px;
   position: relative;
	transition: all .4s;
}

#reset:hover {
   border-color: #333333;
	color: #333333;
}

#reset i {
   display: block;
   width: 20px;
   height: 20px;
   position: absolute;
   left: 6px;
   top: 9px;
   background: none;
   text-indent: 0;
   font-size: 15px;
}



.adnSpot, .xtr_content_jsp {
   display: none !important;
}


.profileDataBox:hover .profileDetailBox {
   top: 0;
}

.fade {
   background: url('') !important;
   background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.76) 30%, rgba(0,0,0,0.3) 68%, rgba(0,0,0,0) 96%, rgba(0,0,0,0) 100%) !important;
   opacity: 0.0 !important;
}

.profileDataBox:hover .fade {
   opacity: .9 !important;
   top: 0 !important;
}




.filterss {
   width: 100%;
   display: block;
   position: relative;
   float: left;
   z-index: 1000;
}

.filterr {
   width: auto;
   height: auto;
   padding: 6px 12px;
   text-align: center;
   position: relative;
   display: inline-block;
   float: left;
   background: #666666;
   color: white;
   border: 3px solid rgba(255, 255, 255, 0.6);
   margin-right: 5px;
}
.filterr:hover {
   background: #333333;
   text-decoration: underline;
   border: 3px solid rgba(255, 255, 255, 0.6);
}



.activee::after {
   font-size: 10px;
   margin-left: 6px;
   display: inline-block;
   content: '✕';
}

.activee {
   border: 3px solid #97b246;
}
.activee:hover {
   border: 3px solid #97b246;
}

.opaque {
   opacity: .5;
}

#statuss_wrap {
   width: 100vw;
   height: 20px;
   position: fixed;
   z-index: 1000;
   text-align: center;
   top: -1px;
   transition: all ease .6s;
}

#statuss {
   width: 100px;
   position: relative;
   margin: 0 auto;
   background: rgba(147, 198, 0, .7);
   color: #fff;
   text-align: center;
   border: thin solid rgba(255, 255, 255, .3);
   padding: 5px 20px;
   opacity: 1;
   transition: all ease .8s;
}

.stathide {
   top: -30px !important;
   transition: all ease .7s;
}

.stathide #statuss {
	opacity: .0;
	transition: all ease 2s;
}

.profile-preview {
	z-index: 5 !important;
}

.profileDetailArea.gayyy {
	background: -moz-linear-gradient(top, rgba(203,235,239,0.1) 0%, rgba(239,100,252,0.48) 30%, rgba(212,99,251,0.7) 47%, rgba(126,97,247,1) 100%);
background: -webkit-linear-gradient(top, rgba(203,235,239,0.1) 0%,rgba(239,100,252,0.48) 30%,rgba(212,99,251,0.7) 47%,rgba(126,97,247,1) 100%);
background: linear-gradient(to bottom, rgba(203,235,239,0.1) 0%,rgba(239,100,252,0.48) 30%,rgba(212,99,251,0.7) 47%,rgba(126,97,247,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1acbebef', endColorstr='#7e61f7',GradientType=0 );
}






#gay {
   width: 33px;
   height: 33px;
   float: left;
   text-align: center;
   border-radius: 2px;
   color: #444;
   border: 1px solid #c4c4cf;
   min-width: 0;
   background: #fff;
   margin: 0 5px 0 0;
   padding: 0 5px;
   position: relative;
}

#gay:hover {
   border-color: #333333;
}

#gay i {
   display: block;
   width: 20px;
   height: 20px;
   position: absolute;
   left: 6px;
   top: 9px;
   background: none;
   text-indent: 0;
   font-size: 15px;
}

.opaque {
	opacity: .6;
}

.vid_block-right {
	height: 100%;
	width: 45%;
	background: RGBA(255, 255, 255, .04);
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 20;
  	transition: ease-in-out all .75s;
}
.profileBox:hover .vid_block-right {
	width: 10%;
	transition: ease-in-out all .45s;
}
.vid_block-left {
	height: 100%;
	width: 35%;
	background: RGBA(255, 255, 255, .04);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 20;
  	transition: ease-in-out all .75s;
}
.profileBox:hover .vid_block-left {
	width: 5%;
	transition: ease-in-out all .45s;
}
.vid_block-top {
	height: 5%;
	width: 100%;
	background: RGBA(255, 255, 255, .04);
	position: absolute;
	top: 0;
	left: 0;
  	right: 0;
	z-index: 20;
}
.vid_block-bottom {
	height: 5%;
	width: 100%;
	background: RGBA(255, 255, 255, .04);
	position: absolute;
	bottom: 0;
	left: 0;
  	right: 0;
	z-index: 20;
}


#footer, #homeRandomAd-2, .theatre, .completeFullscreen, .rightContentSide, .profileDisclaimer {
	display: none !important;
}


#male-tab:hover {
	background: #f4501c !important;
}


.profileBox {
	transition: transform .2s ease-out; 
}


.pushdown {
}

.pushright {
  left: 130px;
}

.pushleft {
  right: 130px;
}

.enlarge {
    -webkit-transform:scale(2);
    -moz-transform:scale(2);
    -o-transform:scale(2);
    transform:scale(2);
	z-index: 30;
}

.enlarge .vid_block {
	z-index: 40;
}




#container {
	width: 30px;
	height: 30px;
	position: relative;
	background: #ccc;
	display: inline-block;
	float: left;
}


.filter-gay {
	width: 33px;
	height: 33px;
	float: left;
	text-align: center;
	border-radius: 2px;
	color: #444;
	border: 1px solid #c4c4cf;
	min-width: 0;
	background: #fff;
	margin: 0 5px 0 0;
	padding: 0 5px;
	position: relative;
	cursor: pointer;
}

.filter-gay:hover {
   border: 1px solid #333333 !important;
}

.filter-gay i {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 6px;
	top: 7px;
	background: none;
	text-indent: 0;
	font-size: 17px;
	z-index: 100;
	pointer-events: none !important;
}

.filter-gay i:before {

}

.filter-gay .activeSort.active {
	display: inline-block;
	position: relative;
	width: 33px;
	height: 33px;
}

.optionsWrapper .filter-gay .activeSort.active .orientationDrop {
	background-color: white;
	border-color: #C4C4CF;
	color: #444
}

.filter-gay .activeSort.active ul {
	display: block !important;
	z-index: 101;
	min-width: 14em;
}

.filter-gay .activeSort ul {
	position: absolute;
	list-style-type: none;
	margin: 3px 0 0;
	padding: 5px 0;
	top: 28px;
	background: #fff;
	right: 0;
	z-index: -1;
	display: none;
	border: 1px solid rgba(0, 0, 0, 0.25);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border-radius: 2px;
	width: 100%;
	font-size: 12px
}

.filter-gay .activeSort .orientationDrop {
	text-align: left;
	display: inline-block;
	font-weight: normal;
	border-radius: 2px;
	color: #444;
	border: 1px solid #C4C4Cf;
	width: 33px;
	height: 33px;
	line-height: 1;
	text-indent: -9999px;
	min-width: 0;
	background: #fff;
	position: relative;
	margin: 0 5px 0 0;
	padding: 0 5px;
}

.filter-gay .activeSort ul li:last-child {
	display: list-item !important;
}

.filter-gay .fa-times-circle {
	display: none;
}

.selected {
	background: #d8efcf;
	border: 1px solid #444;
	transition: ease all .2s;
}

.selected:hover {
	background: #e0998c !important;
	color: #fff !important;
}

.selected:hover .fa-mars {
	display: none !important;
	opacity: 0.0;
}

.selected:hover .fa-times-circle {
	display: block !important;
}

.overflow {
	height: 0;
	overflow: hidden;
}



.gay-profile .profile-thumb {
	border: 2.5px solid #7e5cfb !important;
}
.bi-profile .profile-thumb {
	border: 2.5px solid #50dacf !important;
}
.str8-profile .profile-thumb {
	border: 2.5px solid #de2f42 !important;
}
.ukwn-profile .profile-thumb {
	border: 2.5px solid #000000 !important;
}



#main-content {
	width: 100% !important;
	margin: 0!important;
}

#headerMenuMainUL > li:nth-child(3), #headerMenuMainUL > li:nth-child(4), .searchControls-tags, #homeRandomAd-1, .partner-segment, #trending-gender-language, #new-performers {
	display: none !important;
}








.home-btn {
	position: absolute;
	left: 0;
	top: 0;
	background: none;
	cursor: pointer;
	opacity: 0.4;
	transition: ease all .3s;
	color: #FC531D;
}
.home-btn:hover {
	opacity: 1.0;
}


.progress {
  height: 2px !important;
  margin-bottom: 0 !important;
	border-radius: 0 !important;
}

.progress-wrapper {
	position: relative;
}

#progressTimer {
    width: 100% !important;
    height: 2px !important;
    background: #ccc !important;

}

.cancel_timer {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 10px;
	background: none;
	cursor: pointer;
	opacity: 0.4;
	transition: ease all .3s;
}

.cancel_timer:hover {
	opacity: 1.0;
}

.progress-bar-info {
  background: #58b41e !important;
}

.progress-bar-danger {
  background: #9bc53d !important;
}

.progress-bar-warning {
  background: #f9542c !important;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}


.navbar-collapse:before {
	background: rgba(28,28,28,0.92);
}






.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-striped .progress-bar-warning {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-striped .progress-bar {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

#addFavoriteBtn {
	display: inline-block;
	float: right;	
}

.performer-details {
	width: 65%;
	display: inline-block;
}






.pref-filter {
  position: relative;
  display: inline-block;
  width: 66px;
  height: 34px;
float: left;
margin-right: 5px;
}

.pref-filter input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2px;
  border: 1px solid #c4c4cf;
}

.slider:hover {
	border-color: #333333;
}

.slider:before {
position: absolute;
height: 28px;
width: 33px;
background-color: white;
-webkit-transition: all .4s;
transition: all .4s;
border-radius: 2px;
font-size: 22px;
text-align: center;
padding: 4px;
box-sizing: border-box;
top: 2px;
left: 2px;
}

.pref-filter:hover input:not(:checked) + .slider:before {
	background: #dddddd;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(27px);
  background: #FC531D;
  color: #ffffff;
}

input:not(:checked) + .slider:before {  
  background: #ececec;
  color: #ffffff;
}



#stickyHeader {
	margin-bottom: 10px;
}

#stickyHeader.sticky {
	top: -37px !important;
}

#directory {
	padding-top: 0 !important;
}







.fancybox-show-thumbs .fancybox-inner {
	right: 0;
}

.fancybox-show-thumbs .fancybox-thumbs {
	background: rgba(0, 0, 0, .1);
	height: auto;
	top: initial;
	width: 100%;
}

.fancybox-thumbs>ul {
	margin: 0 auto;
}





.lg-backdrop {
	background-color: rgba(0, 0, 0, .85) !important;
}


.photosSet {
	visibility: visible !important;
	display: initial !important;
}

.photosSet a:not(:first-child) {
    visibility: hidden !important;
	display: none !important;
}


#lg-counter {
	font-family: sans-serif !important;
}

.lg-outer .lg-thumb-item {
	border: thin solid transparent !important;
	border-radius: 2px !important;
}

.lg-outer .lg-thumb-item:hover {
	border-color: #ccc !important;
}

.lg-outer .lg-thumb-item img {
	opacity: .7 !important;
}

.lg-outer .lg-thumb-item img:hover {
	opacity: 1.0 !important;
}

.lg-outer .lg-thumb-item.active {
	opacity: 1.0 !important;
	border: thin solid #ddedde !important;
}

.lg-outer .lg-thumb-item.active img {
	opacity: 1.0 !important;
}


.lg-fullscreen,
#lg-share,
.lg-autoplay-button {
	display: none !important;
}

.lg-outer .lg-image {
	vertical-align: top !important;
	height: calc(100vh - 100px) !important;
}

.lg-outer .lg-group {
	margin: 0 auto !important;
}


.chatlessPlayer {
	left: 0 !important;	
}





#newTipAreaBox {
    float: right;

}



.direct_vid_url {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 18px;
    color: #fff;
    opacity: .5;
}

.profileBox:hover .direct_vid_url {
    opacity: .8;
}

.direct_vid_url:hover {
    color: #ffffff;
}



/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/materialicons/v30/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
